* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.nav {
    width: 100%;
    height: 45px;
    position: relative;
}

.nav h1 {
    height: 45px;
    float: left;
}

.nav h1 a {
    display: inline-block;
    width: 78px;
    height: 21px;
    margin-left: 30px;
    background: url(../img/player_logo.png) no-repeat 0 0;
    opacity: 0.5;
    transition: all 0.5s;
}

.nav h1 a:hover,
.nav ul li:hover {
    opacity: 1;
}

.nav ul {
    margin-right: 30px;
    cursor: pointer;
    line-height: 45px;
    float: right;
}

.nav ul li {
    color: white;
    list-style: none;
    margin-right: 10px;
    float: left;
    opacity: 0.5;
    transition: all 0.5s;
}

.content {
    width: 100%;
    height: 560px;
}

.content_left {
    width: 800px;
    height: 550px;
    float: left;
}

.content_right {
    width: 400px;
    height: 550px;
    float: right;
    user-select: none;
}

.toolbar {
    width: 100%;
    height: 40px;
    position: relative;
}

.toolbar>span {
    display: inline-block;
    text-align: center;
    width: 122px;
    height: 100%;
    vertical-align: 10px;
    line-height: 40px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    opacity: 0.5;
}

.toolbar>span>i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: url('../img/icon_sprite.png') no-repeat 0 0;
    vertical-align: -5px;
}

.toolbar>span:nth-child(1)>i {
    background-position: -60px -20px;
}

.toolbar>span:nth-child(2)>i {
    background-position: -20px -20px;
}

.toolbar>span:nth-child(3)>i {
    background-position: -40px -240px;
}

.toolbar>span:nth-child(4)>i {
    background-position: -100px -20px;
}

.toolbar>span:nth-child(5)>i {
    background-position: -40px -300px;
}

.toolbar>span:hover {
    opacity: 1;
}

.list {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.list li>div {
    float: left;
    color: rgba(255, 255, 255, 0.5);
    line-height: 50px;
}

.list li {
    list-style: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    user-select: none;
}

.list .list_check {
    width: 50px;
    height: 100%;
    text-align: center;
}

.list .list_number {
    width: 20px;
    height: 100%;
    margin-right: 10px;
    text-align: center;
}

.list .list_number2 {
    color: transparent !important;
    background: url(../img/wave.gif)no-repeat 0 center;
}

.list .list_singer {
    width: 20%;
    height: 100%;
}

.list .list_name {
    width: 50%;
    height: 100%;
}

.list_name .list_menu {
    margin-top: 5px;
    float: right;
    margin-right: 20px;
    display: none;
}

.list_menu a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../img/icon_list_menu.png)no-repeat 0 0;
    opacity: 0.5;
}

.list_menu a:hover {
    opacity: 1;
}

.list_menu a:nth-child(1) {
    background-position: -120px 0;
}

.list_menu a:nth-child(2) {
    background-position: -120px -80px;
}

.list_menu a:nth-child(3) {
    background-position: -120px -120px;
}

.list_menu a:nth-child(4) {
    background-position: -120px -40px;
}

.list_menu .list_menu_play2 {
    background-position: -80px -200px !important;
}

.list .list_check i {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    opacity: 0.5;
}

.list .list_checked i {
    background: url(../img/icon_sprite.png)no-repeat -60px -80px;
    opacity: 1;
}

.list .list_time a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../img/icon_list_menu.png)no-repeat -120px -160px;
    float: left;
    margin-top: 5px;
    display: none;
    opacity: 0.5;
}

.list .list_time a:hover {
    opacity: 1;
}

.content>.content_info,
.footer>.footer_info {
    width: 1200px;
    height: 100%;
    line-height: 60px;
    margin: 0 auto;
}

.footer>.footer_info {
    user-select: none;
}

.song_info {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}

.song_info div a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

.song_info div a:hover {
    opacity: 1;
}

.song_info .song_info_pic {
    display: inline-block;
    background: url(../img/album_cover_player.png)no-repeat 0 0;
    width: 201px;
    height: 180px;
    text-align: left;
}

.song_info .song_info_pic img {
    width: 180px;
    height: 180px;
}

.song_lyric_container {
    margin-top: 30px;
    height: 200px;
    overflow: hidden;
}

.song_lyric {
    text-align: center;
}

.song_lyric li {
    list-style: none;
    line-height: 30px;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.5);
}

.content_right .song_lyric .cur {
    color: #31c27c;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.footer_info a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    background: url(../img/player.png) no-repeat 0 0;
}

.footer_info .music_pre {
    width: 19px;
    height: 20px;
    background-position: 0 -30px;
}

.footer_info .music_play {
    width: 21px;
    height: 29px;
    background-position: 0 0;
    vertical-align: -5px;
}

.footer_info .music_play2 {
    background-position: -30px 0 !important;
}

.footer_info .music_next {
    width: 19px;
    height: 20px;
    background-position: 0 -52px;
}

.footer_info .music_progress_info {
    display: inline-block;
    width: 670px;
    height: 40px;
    position: relative;
    top: 10px;
}

.footer_info .music_mode {
    width: 26px;
    height: 25px;
    background-position: 0 -205px;
}

.footer_info .music_mode2 {
    width: 23px;
    height: 20px;
    background-position: 0 -260px;
}

.footer_info .music_mode3 {
    width: 25px;
    height: 19px;
    background-position: 0 -74px;
}

.footer_info .music_mode4 {
    width: 26px;
    height: 25px;
    background-position: 0 -232px;
}

.footer_info .music_fav {
    width: 24px;
    height: 21px;
    background-position: 0 -96px;
}

.footer_info .music_fav2 {
    background-position: -30px -96px;
}

.footer_info .music_down {
    width: 22px;
    height: 21px;
    background-position: 0 -120px;
}

.footer_info .music_comment {
    width: 24px;
    height: 24px;
    background-position: 0 -400px;
}

.footer_info .music_only {
    width: 74px;
    height: 27px;
    background-position: 0 -281px;
}

.footer_info .music_only2 {
    background-position: 0 -310px;
}

.footer_info .music_voice_info {
    width: 100px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.music_progress_info .music_progress_top {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.music_progress_top .music_progress_name {
    float: left;
    opacity: 0.5;
}

.music_progress_top .music_progress_name:hover {
    opacity: 1;
}

.music_progress_top .music_progress_time {
    float: right;
    opacity: 0.5;
}

.music_progress_top .music_progress_time:hover {
    opacity: 1;
}

.music_progress_info .music_progress_bar {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    position: relative;
}

.music_progress_bar .music_progress_line {
    width: 0;
    height: 100%;
    background: #fff;
}

.music_progress_line .music_progress_dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
}

.music_voice_info .music_voice_icon {
    width: 26px;
    height: 21px;
    background-position: 0 -144px;
    position: absolute;
    left: 0;
    top: 10px;
}

.music_voice_info .music_voice_icon2 {
    background-position: 0 -182px;
}

.music_voice_info .music_voice_bar {
    width: 70px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
    top: 18px;
}

.music_voice_bar .music_voice_line {
    width: 35px;
    height: 100%;
    background: #fff;
}

.music_voice_line .music_voice_dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -5px;
    left: 35px;
}

.mask_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url(../img/lnj.jpg)no-repeat 0 0;
    background-size: cover;
    filter: blur(100px);
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.35);
}

._mCS_1 .mCSB_scrollTools .mCSB_dragger_bar {
    width: 8px;
}